In [6]:
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [5]:
l1 = [11, 23, 45, 63, 2, 87, 76, 46]
s = 0

for l in l1:
    s = s + l
    
print('The sum of the elements in the list : ', s)

The sum of the elements in the list :  353

In [7]:
s = "Hello My Name is Anthony Gonsalvez"

rs = ""

for c in reversed(s):
    rs+=c
    
print('The reversed string is : ', rs)

The reversed string is :  zevlasnoG ynohtnA si emaN yM olleH

In [8]:
n = int(input("Enter the number whose factorial is to be found : "))

fact = 1

for i in range(1,n+1):
    fact=fact*i
    
print('The factorial for the number ', n,' is : ', fact)

Enter the number whose factorial is to be found :  10

The factorial for the number  10  is :  3628800

In [3]:
n = int(input('Enter the number for multiplication : '))

print(f'The multiplication table for {n} : ')

for i in range(1,11):
    t = n * i
    print(t ,'\n')

Enter the number for multiplication :  100

The multiplication table for 100 :
100

200

300

400

500

600

700

800

900

1000

In [14]:
n = input('Enter the numbers : ')
x = [int(item) for item in n.split()]

print(x)

ecount = 0
ocount = 0

for n1 in x:
    if n1%2 == 0:
        ecount = ecount + 1
    else:
        ocount = ocount + 1

print(f'The number of even numbers in the list is : {ecount}')
print(f'The numebr of odd numbers in the list is : {ocount}')

Enter the numbers :  12 33 34 55 21 2 47 89 09 67 57

[12, 33, 34, 55, 21, 2, 47, 89, 9, 67, 57]
The number of even numbers in the list is : 3
The numebr of odd numbers in the list is : 8

In [16]:
print('The squares are as follows : ')

for i in range(1,6):
    s = i*i
    print(s ,'\n')

The squares are as follows :
1

4

9

16

25

In [19]:
s = input('Enter the string of your choice : ')
l = 0
for char in s:
    l = l + 1
    
print('The length of the string is : ',l)

Enter the string of your choice :  My Name is Anthony Gonsalvez

The length of the string is :  28

In [23]:
s = input('Enter the list of numbers separated by "," : ').split(',')
n = [int(i.strip()) for i in s]

t = 0
c = 0

for i in n:
    t = t + i
    c = c + 1
    
if c == 0:
    print('The calculation of the average of the numbers in the list is not possible.')
else:
    a = t/c
    print(f'The average of the numbers is : {a}')

Enter the list of numbers separated by "," :  1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,18,20

The average of the numbers is : 10.45

In [24]:
n = int(input('Enter the number of fibonacci numbers to be generated'))

fibseq = [0,1]

for i in range(2,n):
    fibnum = fibseq[i-1] + fibseq[i-2]
    fibseq.append(fibnum)
print(f'The first {n} fibonacci numbers are : ')
for i in fibseq:
    print(i, end=" ")

Enter the number of fibonacci numbers to be generated 15

The first 15 fibonacci numbers are :
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [2]:
def getdup(l):
    for i in range(len(l)):
        for j in range(i+1,len(l)):
            if l[i] == l[j]:
                return True
    return False

s = input('Enter the elements of the list separated by comma').split(',')
l = [int(i) for i in s]
result = getdup(l)
if result:
    print('Duplicates are present')
else:
    print('Duplicates are not present')

Enter the elements of the list separated by comma 1,2,3,4,5,6,7,7,8

Duplicates are present

In [6]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5)+1):
        if n%i==0:
            return False
    return True

def in_range(s,e):
    for n in range(s,e):
        if is_prime(n):
            print(n)
            
s = int(input('Enter the lower limit of the range : '))
e = int(input('Enter the upper limit of the range : '))

print(f'Prime numbers present within {s} and {e} is : ')
in_range(s,e)

Enter the lower limit of the range :  2
Enter the upper limit of the range :  500

Prime numbers present within 2 and 500 is :
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499

In [8]:
def getvow(s):
    vowels = 'aeiouAEIOU'
    c = 0
    for char in s:
        if char in vowels:
            c = c+1
    return c
        
    


s = input('Enter the string of your choice')
c = getvow(s)
print('The number of vowels present in the given string is : ', c)

Enter the string of your choice hello

The number of vowels present in the given string is :  2

In [5]:
def maxxed(m):
    if not m:
        return None
    
    maxx = m[0][0]
    
    for row in m:
        for ele in row:
            if ele > maxx :
                maxx = ele
    return maxx




m = [[1,2,3],[4,5,6],[7,8,9]]

res = maxxed(m)
if res:
    print(f'The largest element in {m} is {res}')
else:
    print('NaN')

The largest element in [[1, 2, 3], [4, 5, 6], [7, 8, 9]] is 9

In [8]:
def filterz(l,e):
    res = []
    for i in l:
        if l[i] != e:
            res.append(l[i])
    return res




l = [1,2,3,4,5,6,7,8,9,0]

e = int(input('Enter the element to be removed : '))
fl = filterz(l,e)
print(f'Original List is {l}')
print(f'Element removed is {e} and the new list is {fl}')

Enter the element to be removed :  5

Original List is [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
Element removed is 5 and the new list is [2, 3, 4, 6, 7, 8, 9, 0, 1]

In [9]:
for i in range(1,6):
    print(f'The tables for {i} is : ')
    for j in range(1,101):
        print(f'{i} x {j} : {i*j}')
        
    print()
    print('----------------------------------')
    print()

The tables for 1 is :
1 x 1 : 1
1 x 2 : 2
1 x 3 : 3
1 x 4 : 4
1 x 5 : 5
1 x 6 : 6
1 x 7 : 7
1 x 8 : 8
1 x 9 : 9
1 x 10 : 10
1 x 11 : 11
1 x 12 : 12
1 x 13 : 13
1 x 14 : 14
1 x 15 : 15
1 x 16 : 16
1 x 17 : 17
1 x 18 : 18
1 x 19 : 19
1 x 20 : 20
1 x 21 : 21
1 x 22 : 22
1 x 23 : 23
1 x 24 : 24
1 x 25 : 25
1 x 26 : 26
1 x 27 : 27
1 x 28 : 28
1 x 29 : 29
1 x 30 : 30
1 x 31 : 31
1 x 32 : 32
1 x 33 : 33
1 x 34 : 34
1 x 35 : 35
1 x 36 : 36
1 x 37 : 37
1 x 38 : 38
1 x 39 : 39
1 x 40 : 40
1 x 41 : 41
1 x 42 : 42
1 x 43 : 43
1 x 44 : 44
1 x 45 : 45
1 x 46 : 46
1 x 47 : 47
1 x 48 : 48
1 x 49 : 49
1 x 50 : 50
1 x 51 : 51
1 x 52 : 52
1 x 53 : 53
1 x 54 : 54
1 x 55 : 55
1 x 56 : 56
1 x 57 : 57
1 x 58 : 58
1 x 59 : 59
1 x 60 : 60
1 x 61 : 61
1 x 62 : 62
1 x 63 : 63
1 x 64 : 64
1 x 65 : 65
1 x 66 : 66
1 x 67 : 67
1 x 68 : 68
1 x 69 : 69
1 x 70 : 70
1 x 71 : 71
1 x 72 : 72
1 x 73 : 73
1 x 74 : 74
1 x 75 : 75
1 x 76 : 76
1 x 77 : 77
1 x 78 : 78
1 x 79 : 79
1 x 80 : 80
1 x 81 : 81
1 x 82 : 82
1 x 83 : 83
1 x 84 : 84
1 x 85 : 85
1 x 86 : 86
1 x 87 : 87
1 x 88 : 88
1 x 89 : 89
1 x 90 : 90
1 x 91 : 91
1 x 92 : 92
1 x 93 : 93
1 x 94 : 94
1 x 95 : 95
1 x 96 : 96
1 x 97 : 97
1 x 98 : 98
1 x 99 : 99
1 x 100 : 100

----------------------------------

The tables for 2 is :
2 x 1 : 2
2 x 2 : 4
2 x 3 : 6
2 x 4 : 8
2 x 5 : 10
2 x 6 : 12
2 x 7 : 14
2 x 8 : 16
2 x 9 : 18
2 x 10 : 20
2 x 11 : 22
2 x 12 : 24
2 x 13 : 26
2 x 14 : 28
2 x 15 : 30
2 x 16 : 32
2 x 17 : 34
2 x 18 : 36
2 x 19 : 38
2 x 20 : 40
2 x 21 : 42
2 x 22 : 44
2 x 23 : 46
2 x 24 : 48
2 x 25 : 50
2 x 26 : 52
2 x 27 : 54
2 x 28 : 56
2 x 29 : 58
2 x 30 : 60
2 x 31 : 62
2 x 32 : 64
2 x 33 : 66
2 x 34 : 68
2 x 35 : 70
2 x 36 : 72
2 x 37 : 74
2 x 38 : 76
2 x 39 : 78
2 x 40 : 80
2 x 41 : 82
2 x 42 : 84
2 x 43 : 86
2 x 44 : 88
2 x 45 : 90
2 x 46 : 92
2 x 47 : 94
2 x 48 : 96
2 x 49 : 98
2 x 50 : 100
2 x 51 : 102
2 x 52 : 104
2 x 53 : 106
2 x 54 : 108
2 x 55 : 110
2 x 56 : 112
2 x 57 : 114
2 x 58 : 116
2 x 59 : 118
2 x 60 : 120
2 x 61 : 122
2 x 62 : 124
2 x 63 : 126
2 x 64 : 128
2 x 65 : 130
2 x 66 : 132
2 x 67 : 134
2 x 68 : 136
2 x 69 : 138
2 x 70 : 140
2 x 71 : 142
2 x 72 : 144
2 x 73 : 146
2 x 74 : 148
2 x 75 : 150
2 x 76 : 152
2 x 77 : 154
2 x 78 : 156
2 x 79 : 158
2 x 80 : 160
2 x 81 : 162
2 x 82 : 164
2 x 83 : 166
2 x 84 : 168
2 x 85 : 170
2 x 86 : 172
2 x 87 : 174
2 x 88 : 176
2 x 89 : 178
2 x 90 : 180
2 x 91 : 182
2 x 92 : 184
2 x 93 : 186
2 x 94 : 188
2 x 95 : 190
2 x 96 : 192
2 x 97 : 194
2 x 98 : 196
2 x 99 : 198
2 x 100 : 200

----------------------------------

The tables for 3 is :
3 x 1 : 3
3 x 2 : 6
3 x 3 : 9
3 x 4 : 12
3 x 5 : 15
3 x 6 : 18
3 x 7 : 21
3 x 8 : 24
3 x 9 : 27
3 x 10 : 30
3 x 11 : 33
3 x 12 : 36
3 x 13 : 39
3 x 14 : 42
3 x 15 : 45
3 x 16 : 48
3 x 17 : 51
3 x 18 : 54
3 x 19 : 57
3 x 20 : 60
3 x 21 : 63
3 x 22 : 66
3 x 23 : 69
3 x 24 : 72
3 x 25 : 75
3 x 26 : 78
3 x 27 : 81
3 x 28 : 84
3 x 29 : 87
3 x 30 : 90
3 x 31 : 93
3 x 32 : 96
3 x 33 : 99
3 x 34 : 102
3 x 35 : 105
3 x 36 : 108
3 x 37 : 111
3 x 38 : 114
3 x 39 : 117
3 x 40 : 120
3 x 41 : 123
3 x 42 : 126
3 x 43 : 129
3 x 44 : 132
3 x 45 : 135
3 x 46 : 138
3 x 47 : 141
3 x 48 : 144
3 x 49 : 147
3 x 50 : 150
3 x 51 : 153
3 x 52 : 156
3 x 53 : 159
3 x 54 : 162
3 x 55 : 165
3 x 56 : 168
3 x 57 : 171
3 x 58 : 174
3 x 59 : 177
3 x 60 : 180
3 x 61 : 183
3 x 62 : 186
3 x 63 : 189
3 x 64 : 192
3 x 65 : 195
3 x 66 : 198
3 x 67 : 201
3 x 68 : 204
3 x 69 : 207
3 x 70 : 210
3 x 71 : 213
3 x 72 : 216
3 x 73 : 219
3 x 74 : 222
3 x 75 : 225
3 x 76 : 228
3 x 77 : 231
3 x 78 : 234
3 x 79 : 237
3 x 80 : 240
3 x 81 : 243
3 x 82 : 246
3 x 83 : 249
3 x 84 : 252
3 x 85 : 255
3 x 86 : 258
3 x 87 : 261
3 x 88 : 264
3 x 89 : 267
3 x 90 : 270
3 x 91 : 273
3 x 92 : 276
3 x 93 : 279
3 x 94 : 282
3 x 95 : 285
3 x 96 : 288
3 x 97 : 291
3 x 98 : 294
3 x 99 : 297
3 x 100 : 300

----------------------------------

The tables for 4 is :
4 x 1 : 4
4 x 2 : 8
4 x 3 : 12
4 x 4 : 16
4 x 5 : 20
4 x 6 : 24
4 x 7 : 28
4 x 8 : 32
4 x 9 : 36
4 x 10 : 40
4 x 11 : 44
4 x 12 : 48
4 x 13 : 52
4 x 14 : 56
4 x 15 : 60
4 x 16 : 64
4 x 17 : 68
4 x 18 : 72
4 x 19 : 76
4 x 20 : 80
4 x 21 : 84
4 x 22 : 88
4 x 23 : 92
4 x 24 : 96
4 x 25 : 100
4 x 26 : 104
4 x 27 : 108
4 x 28 : 112
4 x 29 : 116
4 x 30 : 120
4 x 31 : 124
4 x 32 : 128
4 x 33 : 132
4 x 34 : 136
4 x 35 : 140
4 x 36 : 144
4 x 37 : 148
4 x 38 : 152
4 x 39 : 156
4 x 40 : 160
4 x 41 : 164
4 x 42 : 168
4 x 43 : 172
4 x 44 : 176
4 x 45 : 180
4 x 46 : 184
4 x 47 : 188
4 x 48 : 192
4 x 49 : 196
4 x 50 : 200
4 x 51 : 204
4 x 52 : 208
4 x 53 : 212
4 x 54 : 216
4 x 55 : 220
4 x 56 : 224
4 x 57 : 228
4 x 58 : 232
4 x 59 : 236
4 x 60 : 240
4 x 61 : 244
4 x 62 : 248
4 x 63 : 252
4 x 64 : 256
4 x 65 : 260
4 x 66 : 264
4 x 67 : 268
4 x 68 : 272
4 x 69 : 276
4 x 70 : 280
4 x 71 : 284
4 x 72 : 288
4 x 73 : 292
4 x 74 : 296
4 x 75 : 300
4 x 76 : 304
4 x 77 : 308
4 x 78 : 312
4 x 79 : 316
4 x 80 : 320
4 x 81 : 324
4 x 82 : 328
4 x 83 : 332
4 x 84 : 336
4 x 85 : 340
4 x 86 : 344
4 x 87 : 348
4 x 88 : 352
4 x 89 : 356
4 x 90 : 360
4 x 91 : 364
4 x 92 : 368
4 x 93 : 372
4 x 94 : 376
4 x 95 : 380
4 x 96 : 384
4 x 97 : 388
4 x 98 : 392
4 x 99 : 396
4 x 100 : 400

----------------------------------

The tables for 5 is :
5 x 1 : 5
5 x 2 : 10
5 x 3 : 15
5 x 4 : 20
5 x 5 : 25
5 x 6 : 30
5 x 7 : 35
5 x 8 : 40
5 x 9 : 45
5 x 10 : 50
5 x 11 : 55
5 x 12 : 60
5 x 13 : 65
5 x 14 : 70
5 x 15 : 75
5 x 16 : 80
5 x 17 : 85
5 x 18 : 90
5 x 19 : 95
5 x 20 : 100
5 x 21 : 105
5 x 22 : 110
5 x 23 : 115
5 x 24 : 120
5 x 25 : 125
5 x 26 : 130
5 x 27 : 135
5 x 28 : 140
5 x 29 : 145
5 x 30 : 150
5 x 31 : 155
5 x 32 : 160
5 x 33 : 165
5 x 34 : 170
5 x 35 : 175
5 x 36 : 180
5 x 37 : 185
5 x 38 : 190
5 x 39 : 195
5 x 40 : 200
5 x 41 : 205
5 x 42 : 210
5 x 43 : 215
5 x 44 : 220
5 x 45 : 225
5 x 46 : 230
5 x 47 : 235
5 x 48 : 240
5 x 49 : 245
5 x 50 : 250
5 x 51 : 255
5 x 52 : 260
5 x 53 : 265
5 x 54 : 270
5 x 55 : 275
5 x 56 : 280
5 x 57 : 285
5 x 58 : 290
5 x 59 : 295
5 x 60 : 300
5 x 61 : 305
5 x 62 : 310
5 x 63 : 315
5 x 64 : 320
5 x 65 : 325
5 x 66 : 330
5 x 67 : 335
5 x 68 : 340
5 x 69 : 345
5 x 70 : 350
5 x 71 : 355
5 x 72 : 360
5 x 73 : 365
5 x 74 : 370
5 x 75 : 375
5 x 76 : 380
5 x 77 : 385
5 x 78 : 390
5 x 79 : 395
5 x 80 : 400
5 x 81 : 405
5 x 82 : 410
5 x 83 : 415
5 x 84 : 420
5 x 85 : 425
5 x 86 : 430
5 x 87 : 435
5 x 88 : 440
5 x 89 : 445
5 x 90 : 450
5 x 91 : 455
5 x 92 : 460
5 x 93 : 465
5 x 94 : 470
5 x 95 : 475
5 x 96 : 480
5 x 97 : 485
5 x 98 : 490
5 x 99 : 495
5 x 100 : 500

----------------------------------

In [4]:
def fahtocel(fahrenheitic):
    cel  = []
    c = 0.0
    for i in fahrenheitic:
        c = (((i - 32)*5)/9)
        cel.append(c)
        
    return cel

s = input('Enter the temperatures in fahrenheit and separate them using "," : ').split(',')
fahrenheitic = [float(x) for x in s]

cel = fahtocel(fahrenheitic)
print(f'The list of temperatures in Fahrenheit is {fahrenheitic} and in Celcius is {cel}')

Enter the temperatures in fahrenheit and separate them using "," :  89,70,69,56,40

The list of temperatures in Fahrenheit is [89.0, 70.0, 69.0, 56.0, 40.0] and in Celcius is [31.666666666666668, 21.11111111111111, 20.555555555555557, 13.333333333333334, 4.444444444444445]

In [14]:
def checkforcommon(l1,l2):
    c = []
    che = False
    for i in range(len(l1)):
        for j in range(len(l2)):
            if l2[j] == l1[i]:
                che = True 
                c.append(l2[j])
    return c





s1 = input('Enter the elements of the first list and separate each element using "," :').split(',')
s2 = input('Enter the elements of the second list and separate each element using "," : ').split(',')
l1 = [int(i) for i in s1]
l2 = [int(i) for i in s2]


c = checkforcommon(l1, l2)

if c :
    print('Common elements are shared by the two lists : ', c)
else:
    print('Common elements are not shared by the two lists.')

Enter the elements of the first list and separate each element using "," : 1,2,3,4,5,6,7,8,9,10
Enter the elements of the second list and separate each element using "," :  2,4,6,8,10,12,14,16,18,20

Common elements are shared by the two lists :  [2, 4, 6, 8, 10]

In [17]:
for i in range(1,10):
        print('*'*i)
print()

*
**
***
****
*****
******
*******
********
*********

In [20]:
def gcdcount(i1,i2):
    small = 0
    if i1>i2:
        small = i2
    else :
        small = i1
        
    gcd = 1
    
    for i in range(1, small + 1):
        if i1%i==0 and i2%i==0:
            gcd = i
            
    return gcd




i1 = int(input('Enter the first number : '))
i2 = int(input('Enter the second number : '))

gcd = gcdcount(i1,i2)

if gcd :
    print('The Greatest Common Divisor between the two numbers is : ', gcd)
    
else :
    print('No common divisor present between the two numbers.')

Enter the first number :  44
Enter the second number :  66

The Greatest Common Divisor between the two numbers is :  22

In [22]:
def sumdigit(x):
    return sum(int(d) for d in str(x))




s = input('Enter the numbers of the list and separate them using "," : ').split(',')
l = [int(i) for i in s]
digitsum = [sumdigit(x) for x in l]
print('The sum of digits for each number :- ')
for i in range(len(l)):
    print(f'Sum of digits of {l[i]} : {digitsum[i]}')

Enter the numbers of the list and separate them using "," :  234, 546, 788, 990, 669

The sum of digits for each number :-
Sum of digits of 234 : 9
Sum of digits of 546 : 15
Sum of digits of 788 : 23
Sum of digits of 990 : 18
Sum of digits of 669 : 21

In [26]:
def getfactors(n):
    fact = []
    for i in range(2,n+1):
        while n%i == 0:
            fact.append(i)
            n //=i
    return fact
            





n = int(input('Enter the number of the choice of the user : '))

fact = getfactors(n)

print(f'The prime factors for {n} are : {fact}')

Enter the number of the choice of the user :  74

The prime factors for 74 are : [2, 37]

In [28]:
def unq(l):
    lx = []
    for i in range(len(l)):
        if l.count(i)==1:
            lx.append(i)
    return lx
    




s = input('Enter the elements of the list and separate them using "," : ').split(',')
l = [int(i) for i in s]

lx = unq(l)

if lx:
    print(f'The unique elements present in {l} are : {lx}')

Enter the elements of the list and separate them using "," :  1,1,2,3,3,3,3,5,6,6,6,7,8,8,8,7

The unique elements present in [1, 1, 2, 3, 3, 3, 3, 5, 6, 6, 6, 7, 8, 8, 8, 7] are : [2, 5]

In [36]:
def ispal(n):
     return str(n) == str(n)[::-1]
        


l = int(input('Enter the Upper Limit : '))
paldrin = [n for n in range(1,l+1) if ispal(n)]
print(f'The list of palindromic numbers under the specified limit {l} is {paldrin}')

Enter the Upper Limit :  40

The list of palindromic numbers under the specified limit 40 is [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33]

In [1]:
def lflat(l):
    return [x for s in l for x in s]


l1 = [[1,2,3],[4,5,6,7,8],[9,10]]

l2 = lflat(l1)

print('Given list : ', l1)
print('Flattened list : ', l2)

Given list :  [[1, 2, 3], [4, 5, 6, 7, 8], [9, 10]]
Flattened list :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
def checkeve(l):
    e1 = [i for i in l if i%2==0]
    summation = sum(e1)
    return summation

def checkodd(l):
    o1 = [i for i in l if i%2!=0]
    summation = sum(o1)
    return summation


s = input('Enter the elements of the list using "," as a separator : ').split(',')
l = [int(x) for x in s]

eve1 = checkeve(l)
odd1 = checkodd(l)

print('Sum of even numbers : ', eve1)
print('Sum of odd numbers : ', odd1)

Enter the elements of the list using "," as a separator :  1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20

Sum of even numbers :  110
Sum of odd numbers :  100

In [5]:
def squaresofodd(l):
    x =[]
    for i in range(len(l)):
        a = l[i]*l[i]
        x.append(a)
    return x

        
        
l = []
for i in range(1,11):
    if i%2!=0:
        l.append(i)
        
sqodd = squaresofodd(l)

print('The list of squares of odd numbers is : ', sqodd)

The list of squares of odd numbers is :  [1, 9, 25, 49, 81]

In [6]:
keys = ['red','blue','yellow']
value = ['#0001','#0002', '#0003']

dic = {keys[i] : value[i] for i in range(len(keys))}

print(dic)

{'red': '#0001', 'blue': '#0002', 'yellow': '#0003'}

In [7]:
def vins(s):
    x = []
    vowels = 'aeiouAEIOU'
    for char in s:
        if char in vowels:
            x.append(char)
            
    return x



s = input('Enter the sentence of your choice : ')
x = vins(s)
print('The list containing vowels extracted from the string : ', x)

Enter the sentence of your choice :  Hello my name is Anthony Gonsalvez

The list containing vowels extracted from the string :  ['e', 'o', 'a', 'e', 'i', 'A', 'o', 'o', 'a', 'e']

In [10]:
def modifylist(l):
    cl = [','.join(char for char in x if char.isnumeric()) for x in l]
    return cl


s = input('Enter the strings as individual elements for the list and separate them using "," : ').split(',')
l = [x for x in s]
cl = modifylist(l)
print('The new modified list is : ', cl)

Enter the strings as individual elements for the list and separate them using "," :  Aieo89, Ke3345, #@15899

The new modified list is :  ['8,9', '3,3,4,5', '1,5,8,9,9']

In [18]:
def sxu(ul):
    prime1 = [True]*(ul+1)
    prime1[0] = prime1[1] = False
    
    a=2
    while a*a <= ul :
        if prime1[a] :
            for i in range(a * a,ul + 1, a):
                prime1[i] = False
        a = a + 1
        
    
    primenumbers = [x for x in range(2,ul+1) if prime1[x]]
    return primenumbers
      




ul = int(input('Enter the upper limit : '))
pn = sxu(ul)
print(f'Prime numbers using Sieve of Eratosthenes algorithm are : {pn}')

Enter the upper limit :  500

Prime numbers using Sieve of Eratosthenes algorithm are : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499]

In [2]:
def checkpy(t):
    trip = []
    for a in range(1, l+1):
        for b in range(a, l+1):
            for c in range(b, l+1):
                if (a**2)+(b**2)==(c**2):
                    trip.append((a,b,c))
    return trip




l = int(input('Enter the upper limit of the pyhtagorean triplets : '))

trip = checkpy(l)

print(f'The pythagorean triplets for the limit {l} is : ')
for t in trip:
    print(t)

Enter the upper limit of the pyhtagorean triplets :  20

The pythagorean triplets for the limit 20 is :
(3, 4, 5)
(5, 12, 13)
(6, 8, 10)
(8, 15, 17)
(9, 12, 15)
(12, 16, 20)

In [3]:
import itertools


def getcombinations(l1,l2):
    comb = [(x,y) for x in l1 for y in l2]
    return comb

s1 = input('Enter the elements of the first list separated by "," : ').split(',')
l1 = [int(x) for x in s1]
s2 = input('Enter the elements of the second list separated by "," : ').split(',')
l2 = [int(x) for x in s1]

comb = getcombinations(l1,l2)

print('The list of all possible combinations are : ')
for c in comb:
    print(c)

Enter the elements of the first list separated by "," :  1,2,3,4,5,6,7,8,9,10
Enter the elements of the second list separated by "," :  11,12,13,14,15,16,17,18,19,20

The list of all possible combinations are :
(1, 1)
(1, 2)
(1, 3)
(1, 4)
(1, 5)
(1, 6)
(1, 7)
(1, 8)
(1, 9)
(1, 10)
(2, 1)
(2, 2)
(2, 3)
(2, 4)
(2, 5)
(2, 6)
(2, 7)
(2, 8)
(2, 9)
(2, 10)
(3, 1)
(3, 2)
(3, 3)
(3, 4)
(3, 5)
(3, 6)
(3, 7)
(3, 8)
(3, 9)
(3, 10)
(4, 1)
(4, 2)
(4, 3)
(4, 4)
(4, 5)
(4, 6)
(4, 7)
(4, 8)
(4, 9)
(4, 10)
(5, 1)
(5, 2)
(5, 3)
(5, 4)
(5, 5)
(5, 6)
(5, 7)
(5, 8)
(5, 9)
(5, 10)
(6, 1)
(6, 2)
(6, 3)
(6, 4)
(6, 5)
(6, 6)
(6, 7)
(6, 8)
(6, 9)
(6, 10)
(7, 1)
(7, 2)
(7, 3)
(7, 4)
(7, 5)
(7, 6)
(7, 7)
(7, 8)
(7, 9)
(7, 10)
(8, 1)
(8, 2)
(8, 3)
(8, 4)
(8, 5)
(8, 6)
(8, 7)
(8, 8)
(8, 9)
(8, 10)
(9, 1)
(9, 2)
(9, 3)
(9, 4)
(9, 5)
(9, 6)
(9, 7)
(9, 8)
(9, 9)
(9, 10)
(10, 1)
(10, 2)
(10, 3)
(10, 4)
(10, 5)
(10, 6)
(10, 7)
(10, 8)
(10, 9)
(10, 10)

In [ ]:
import statistics

def checkmean(l):
    mean = statistics.mean(l)
    return mean

def checkmedian(l):
    median = statistics.median(l)
    return median

def checkmode(l):
    try:
        mode = statistics.mode(l)
    except:
        mode = "No uniquwe mode found"
        
    return mode



s = input('Enter the elements of the list to be separated using "," : ').split(',')
l = [int(x) for x in s]
mean = checkmean(l)
median = checkmedian(l)
mode = checkmode(l)

In [ ]:
a = 1
print(a)